.module-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 18px;
	p {
		color: #89909a;
		font-weight: 100;
		font-size: 12px;
	}
	h1 {
		font-size: 26px;
		font-weight: bold;
		line-height: 1;
		margin-top: 4px;
	}
	.status-mark {
		position: relative;
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 5px 9px;
		border: 1px solid #ffffff89;
		border-radius: 99px;
		background: #ffffff45;
		box-shadow: inset 1px 1px 3px #ffffff70;
		font-size: 10px;
		padding-left: 20px;
		&[data-status='success'] {
			color: #4aab7f;
			&::before,
			&::after {
				background-color: #4aab7f;
			}
		}
		&[data-status='warning'] {
			color: #ffb300;
			&::before,
			&::after {
				background-color: #ffb300;
			}
		}
		&[data-status='danger'] {
			color: #ed4242;
			&::before,
			&::after {
				background-color: #ed4242;
			}
		}
	}
	.status-mark::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 10px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		transform: translateY(-50%);
	}
	.status-mark::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 10px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		transform: translateY(-50%);
		animation: pulseripple 2s ease-in-out infinite;
	}

	@keyframes pulseripple {
		0% {
			transform: translateY(-50%) scale(1);
			opacity: 1;
		}
		100% {
			transform: translateY(-50%) scale(2.2);
			opacity: 0;
		}
	}
}

.module-footer-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;
	margin-bottom: 24px;
	.iconify {
		width: 14px;
		height: 14px;
	}
	span {
		font-size: 12px;
	}
}
