html,
body,
p,
ul,
button,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #272b32;
	border-radius: 18px;
	overflow: hidden;
}

div,
span,
ul,
li,
button,
input,
textarea {
	box-sizing: border-box;
}

input,
textarea,
select {
	outline: none;
	vertical-align: middle;
}

li,
ol {
	list-style: none;
}

button {
	border: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
	border-style: none;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

#app {
	position: relative;
	min-height: 100vh;
	background-color: #e5e6e7;
	border-radius: 18px;
	overflow: hidden;
}
