/* 滚动条 */
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

html {
	border-radius: 18px;
}

#app {
	position: relative;
	min-height: 100vh;
	background-color: #e7e8e9;
	border-radius: 18px;
	overflow: hidden;
}

.trano-effect-glass {
	background-color: #ffffff1d;
	border: 1px solid #ffffff89;
	box-shadow: inset 4px 2px 8px #ffffff7e;
	backdrop-filter: blur(20px);
}
